body {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: repeat(3, 1f);
  gap: 5rem;
  justify-content: center;
}
img {
  width: 16px;
}

.profile-img {
  width: 600px;
}

.container {
  display: flex;
  max-width: 1400px;
}

.header-container {
  display: flex;
  padding: 2rem 0;
  background-color: aliceblue;
  justify-content: center;
}

.header-img {
  position: relative;
  text-align: center;
}
.header-img h1 {
  position: absolute;
  bottom: 0%;
  right: 10%;
  left: 10%;

  font-size: 5rem;
  color: white;
}
.header-title {
  font-size: 3.5rem;
}
.header-text-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 40vw;
  background-color: cornflowerblue;
  padding: 0.8rem 2rem 0.8rem 4rem;
  font-size: 1.5rem;
  align-self: center;
}

.header-links-section {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.header-links-section > img {
  width: 3rem;
}

/* MAIN SECTION */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .main-container >section{
  display: flex;
  flex-direction: column;
} */
.main-container h3 {
  font-size: 4rem;
}
.projects-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 4rem;
  max-width: 1400px;
}
.project-container {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.516);
}
.photo {
  width: 100%;
  height: 450px;
  background-color: aliceblue;
}
.project-container > p {
  font-size: 1.2rem;
}
.project-header-links {
  display: flex;
  justify-content: space-between;
}
.project-header-links,
.project-container > p {
  padding: 0 1.2rem 1.2rem 1.2rem;
}
.project-header-links > div > img {
  width: 2rem;
}
.project-header-links > div {
  display: flex;
  gap: 1rem;
}
h4 {
  font-size: 2rem;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
}
.footer-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.footer-contact {
  display: flex;
  gap: 1rem;
}
.footer-text > h5 {
  font-size: 3rem;
}
.footer-text > p {
  font-size: 1.1rem;
}
.social{
  display: flex;
  gap: 1rem;
}
.social > img{
  width: 2rem;
}
.profile-img-footer{
  width: 30rem;
}